body {
  font-size: 16px;
  background-image: url(http://www.google.com/url?sa=i&source=images&cd=&docid=xLOj4RhrzUuzcM&tbnid=ehtEIouR38ZrbM:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.marketplace.org%2Fsites%2Fdefault%2Ffiles%2F143974285.jpg&ei=lQU3U6nKBKq47Aavn4HICA&psig=AFQjCNFO-pMGaTpOV3dB6Ex5nZOksJ0zQA&ust=1396201237165666);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 reset;
}

* {
  margin: 0;
  padding: 0;
}

#bg {
  width: 40%;
  height: 100vh;
  background-color: white;
  opacity: 0.4;
}
#title {
  position: relative;
  float: right;
  position: relative;
  margin: 0 reset;
  margin-left: 3%;
  color: black;
  opacity: 1;
}

#title h1 {
  padding-top: 50%;
  font-size: 4em;
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-bottom: 0.5em;
}

#title p {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:30px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
}

p {
  padding: 1em;
}
